{% extends 'base.html' %}
{% block title %}Форма регистрации{% endblock %}
{% block content %}

    <div class="vh-100 d-flex justify-content-center align-items-center m-0">
        <div class="col-auto text-center">
            <h1>Приветствуем Вас, {{ new_user.username }}!</h1>
            <p>Вы успешно зарегистрировались в системе. Ваш аккаунт ожидает активации администратором.</p>
            <p>После активации вы сможете <a href="{% url 'accounts:login' %}">войти</a> в систему.</p>
        </div>
    </div>
    
{% endblock %}