{% extends 'base.html' %}
{% block title %}LeFami - возвращение естественной красоты и повышение самооценки через натуральные, безопасные средства ухода. {% endblock %}
{% block content %}
    <div class="row vh-100 d-flex justify-content-center align-items-center m-0">
        <div class="col-auto text-center">
            {% if user.is_authenticated %}
                <h1>Приветствую тебя, {{ username }}!</h1>
            {% else %}
                <h1>Приветствую тебя, мой дорогой друг!</h1>
                <p>Для дальнейшего использования возможности данного сервиса, пожалуйста, 
                    <a href="{% url 'accounts:login' %}">войди</a> в систему под своими данными,
                    либо <a href="{% url 'accounts:register' %}">зарегистрируйся</a>.
                </p>
            {% endif %}
        </div>
    </div>
{% endblock %}